<div class="color">

</div>
<div id="howTo_div">
  <div id="inner_div">

    <div id="enemies_div">
      <p id="enemies_p">Enemies</p>
      <img id="enemy_img" src="assets/enemy.png" width="25px" height="25px">
      <p id="enemy_p">20 points<p>
      <img id="elite_img" src="assets/elite.png" width="40px" height="40px">
      <p id="elite_p">50 points<p>
      <img id="titan_img" src="assets/titan.png" width="60px" height="60px">
      <p id="titan_p">125 points<p>
      <img id="goliath_img" src="assets/goliath.png" width="75px" height="75px">
      <p id="goliath_p">300 points<p>
    </div>

    <h1 id="d_h1" class="title">D</h1>
	  <h1 id="oc_h1" class="title">oc</h1>
	  <h2 id="num_h2" class="title">40</h2>

    <div id=instructions_div>
      <p>Move Ship Using Arrow Keys</p>
      <p>Destroy Enemies Using Spacebar</p>
      <p>When Enemies Wave Is Clear A New Wave WIll Spawn</p>
      <p>If Attacked By An Enemy Health Decreases</p>
      <p>Reaching Checkpoints Gives Health and other Bonuses</p>
      <p>Record The Highest Score To Be Doc 40's Top Pilot</p>
    </div>

  </div>
  <p id="menuHowTo_p" class="main_buttons"><a href="/">Main Menu</a></p>
</div>
