<script>
function sound()
{
  document.getElementById("welcome_audio").volume = 0.05;
}
</script>

<div id="main_div">
  <img src="assets/main_menu.jpg" onload="sound()" width="1000px" height="525px">
  <h1 id="d_h1" class="title">D</h1>
	<h1 id="oc_h1" class="title">oc</h1>
	<h2 id="num_h2" class="title">40</h2>
  <p id=subTitle_p>cosmic marathon</p>
  <h3 id=beta_h3>beta</h3>
  <div id="secondry_div">
    <p class="main_buttons"><a href="/scores/new">PLAY</a></p>
    <p class="main_buttons"><a href="/howToPlay">HOW TO PLAY</a></p>
    <p class="main_buttons"><a href="/scores">LEADERBOARDS</a></p>
    <p class="main_buttons"><a href="/socialhub">UPDATES</a></p>
    <% if current_admin %>
      <p class="main_buttons"><%= link_to 'admins back', admin_path(current_admin)%></p>
    <% else %>
      <p class="main_buttons"><a href="/login">ADMIN</a></p>
    <% end %>
  </div>
</div>
<audio id="welcome_audio" autoplay loop>
  <source src="assets/GladysKnight-LicencetoKill.mp3" type="audio/mpeg">
</audio>
